# **Introduction à Python: n'ayez pas peur!**

## Du pixel aux images - 32M7138

*Printemps 2024 - Université de Genève*

*Adrien Jeanrenaud (adrien.jeanrenaud@unige.ch)*

<div class="alert alert-block alert-info">
<b>Introduction à Python</b> : 
    <br>Python est un langage de programmation.
    <br>Pour pouvoir l'utiliser, il faut comprendre sa syntaxe et sa structure. L'articulation des différents objets correspond à une logique relativement stricte. Le but de ce cours d'introduction est de comprendre cette logique à travers les objets de bases de Python ainsi que la syntaxe nécessaire à leur utilisation. 
    <br>Pour ce faire, nous allons voir ensemble les sujets suivants:
</div>

## **Plan du cours**

> **Syntaxe : comment écrire en Python?**
> * codes couleurs pour s'y retrouver
> * l'indentation s'est important!
> * décrire son code en mettant des commentaires

> **Structure: quelques règles de base en Python**
> * d'abord, définir une variables
> * travailler avec des chiffres (**int** et **float**)
> * travailler avec des lettres, c'est-à-dire une chaîne de caractères (**str**)
> * un booléens (**bool**) c'est quoi ?

> **Quelques opéraitons de base**
> * des opérateurs arithmétiques
> * les comparaisons
> * encore un peu de logique

>  **Des objets utiles pour tous les jours**
> * tout mettre dans des **listes**
> * les **tuples**: des listes un peu différentes
> * structurer ses données avec un **dictionnaire**

> **Ajouter des conditions au langage**
> * Si : **if**
> * Pendant : **while**
> * Pour : **for**

> **Définir des fonctions**
> * définir une fonction, puis l'utiliser 
> * faire une courte fonction avec **lambda**

In [ ]:
#importer les librairies
import os
import cv2

In [ ]:
# Avant toute chose, un exemple concret
# Que fais ce programme ?

path = " "
files = os.listdir(path)
for img in files:
    if img.endswith(".jpeg"):
        image_path = os.path.join(path, img)
        image = cv2.imread(image_path)
        if len(image.shape) == 3:
            print(f"{img} {image.shape}")

## 1. Syntaxe

### Couleurs
Des couleurs précises pour les différents objets

In [ ]:
# couleurs dans le code
# reprenons le code plus haut

path = "images" # chaîne de caractères
files = os.listdir(path) # fonction
for img in files: #opérateur # conditions
    if img.endswith(".jpeg"): # fonction
        image_path = os.path.join(path, img) # deux fonctions
        image = cv2.imread(image_path)
        if len(image.shape) == 3: # nombre #fonction #opérateur
            print(f"{img} {image.shape}") # fonction implémentée dans python

### Indentation
Les différents blocs et leur intérêt

In [ ]:
# identation
# reprenons le code plus haut

path = "images" 
files = os.listdir(path) # à la ligne pour chaque variable
for img in files: # tabulation lorsqu'on rentre dans une boucle
    if img.endswith(".jpeg"): 
        image_path = os.path.join(path, img) # tabulation après la fonction
        image = cv2.imread(image_path) # à la ligne pour définir une variable
        if len(image.shape) == 3: # à la ligne pour ouvrir une nouvelle boucle
            print(f"{img} {image.shape}")

### Commentaires
Dièse et guillemets pour commenter et référencer votre code

In [ ]:
# commentaires avec dièse
"""
commentaires entre guillemets
"""

### Jupyter tips

Jupyter vous permet de mêler code et texte. Il y a plusieurs manière d'ajouter du texte. En effet, vous pouvez faire: 

> des sections

\#

\##

\###

> des listes

\- 

\ 1.
\ 2.

> différents types d'écriture

**en gras**

*en italique*

> ajouter des images

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP._jgMjuOoVtjHzHc8Rl8J9AAAAA%26pid%3DApi&f=1&ipt=69e439a155c76162f775ed8f417833db5b4e664887915b9467be8dd9fc224a26&ipo=images" title="Logo de l'université de Genève"/>

> Pour aller plus loin, quelques sources spécialisées 
> * https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet
> * https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook
> * https://www.geeksforgeeks.org/markdown-cell-in-jupyter-notebook/

*Plus ou moins le même contenu, prenez celui qui vous parle le plus*


<div class="alert alert-block alert-danger">
<b>Attention</b> : n'oubliez pas de changer la "nature" de la cellule ; pour écrire vous devez passer en <b>Markdown</b>.
</div>

## 2. Types de données

### Variables
D'abord créer une variable en lui assignant un type

In [ ]:
# variable

x = 2
print(x)

In [ ]:
y = x 
print(y)

In [ ]:
x == 3
print(x)

In [ ]:
# Bonne pratique

universite_de_geneve = 1559
print(universite_de_geneve)

### Nombres (**int** et **float**)
En Python, il y a principalement deux types de chiffres: des entiers et des nombres à virgule

In [ ]:
# nombre entier

x = 4 #cette assignation annule la précédente

print(x)

In [ ]:
# Quel type de donnée

print(type(x))

In [ ]:
# Nombre à virgule

z = 2.3
print(z, " --> Type de la variable : ", type(z))

### Chaîne de caractères (str)
Comment est-ce que Python comprend les lettres ?

In [ ]:
# chaîne de caractères

a = "lundi"
print(a)

In [ ]:
b = "lundi + mardi + mercredi"
print(b)

In [ ]:

c = "jeudi"
print(a,b,c)

### Booléens (bool)
Vrai ou faux?

In [ ]:
t = True
print(t)

In [ ]:
print(type(t))

In [ ]:
f = False
print(f, type(f))

## 3. Opérateurs

### Arithmétique
Quelques opérations de base: addition, soustraction, multiplication, division

In [ ]:
# commençons par définir deux variables numériques et deux variables catégorielles

x = 2
y = 3

a = "lundi"
b = "mardi"

In [ ]:
# addition

print(x+y)

In [ ]:
print(a+b)

In [ ]:
print(x+a)

<div class="alert alert-block alert-danger">
<b>Que dit le message d'erreur ?</b>
</div>

In [ ]:
print(str(x)+a)

In [ ]:
#soustraction

print(x-y)

In [ ]:
print(a-b)

<div class="alert alert-block alert-danger">
<b>Que dit le message d'erreur ?</b>
</div>

In [ ]:
# multiplication

print(x*y)

In [ ]:
print(a*b)

In [ ]:
# Division

print(x/y)

In [ ]:
print(x//y)

<div class="alert alert-block alert-warning">
    Qu'est-ce que cette divison change par rapport à la première?</div>

In [ ]:
# Arrondir 

print(round(x/y,2))

In [ ]:
print(a/b)

<div class="alert alert-block alert-danger">
<b>Que dit le message d'erreur ?</b>
</div>

### Comparaison
Comparaison n'est pas raison: égal, pas égal, plus grand, plus petit, et égal

In [ ]:
# Les différents opérateurs logique
# ==, !=, >, <, >=, <=

x = 2 
y = 3

In [ ]:
#égal

x == y

<div class="alert alert-block alert-warning">
Qu'avons-nous en retour?</div>

In [ ]:
# pas égal

x != y

In [ ]:
# plus petit

x < y

In [ ]:
# plus grand

x > y

In [ ]:
# plus petit et égal

x <= y

In [ ]:
# plus grand et égal

x >= y

### Logique
Un peu de logique pour déliberer nos variables: and, or, not

In [ ]:
# and, or, not

x > 1 and y > 2

<div class="alert alert-block alert-warning">
Qu'avons-nous en retour?</div>

In [ ]:
x == 2 or y == 3

**Avant de lancer la cellule suivante, décrivez-là**

In [ ]:
not(x == 3 or y == 2)

### Autres opérateurs
Et c'est pas fini: is, is not, in, not in

In [ ]:
# is, is not, in, not in

x is y

In [ ]:
x is not y

In [ ]:
print(a,b)

In [ ]:
x in y

In [ ]:
a not in b

In [ ]:
c = "l"

c in a

## 4. Objets

### Listes
Une liste c'est quoi? créer, indexer, longueur et type de données

In [ ]:
# listes

l = [1,2,3,4,5]
print(l, type(l))

In [ ]:
# longueur de la liste

len(l)

In [ ]:
# indexer

l[0]

In [ ]:
l[-1] # le dernier

In [ ]:
l[2:3] # interval

In [ ]:
l[1:-1:2] # avec le pas

### Tuples

C'est un peu comme une liste, mais avec un ordre

In [ ]:
# tuple
# même chose qu'une liste, simplement l'ordre ne change pas

t = (1,2,3,4,5)
print(t, type(t))

In [ ]:
# accessible comme une liste

t[3]

### Dictionnaires

Structurer ses données avec un dictionnaire

In [ ]:
# créer un dictionnaire
# des clés - keys
# des valeurs - values
# entre chaque entrée il faut une virgule
# l'identation pour être propre

d = {
    "nom": "Jeanrenaud",
    "prénom": "Adrien"
}

print(d, type(d))

In [ ]:
# cela fonctionne aussi sans indentionation

d = { "nom": "Jeanrenaud","prénom": "Adrien"}
d

In [ ]:
# quels sont les clés

d.keys() #clés du dictionnaire

In [ ]:
# quels sont les valeurs?

d.values()

In [ ]:
# requêter par clé

d["nom"]

In [ ]:
# un dicitonnaire peut contenir 

d2 = {
    "nom": "Jeanrenaud",
    "prénom": ["Adrien", "Théo"]
}
print(d2, type(d2))

In [ ]:
# Requêter par clé

d2["prénom"]

In [ ]:
# La longeur des valeurs

len(d2["prénom"]) # je peux y accéder comme une liste

In [ ]:
# il s'agit d'un dictionnaire dans un dictionnaire (nested dictionary)
# faites des tests pour requêter dedanse

eleves = {
    "eleve1": {
        "nom": "Jeanrenaud",
        "prénom": ["Adrien", "Théo"]
    },
    "eleve2": {
        "nom": "Martin",
        "prénom": ["Jeanne", "Michelle"]
    },
    "eleve3": {
        "nom": "Balestra",
        "prénom": "Rebecca"
    }
    
}

print(eleves)

In [ ]:
import json


print (json.dumps(eleves, indent=2))

In [ ]:
# Pour éviter les problèmes d'encodage

print (json.dumps(eleves, indent=2, ensure_ascii=False))

In [ ]:
# voilà à quoi ressemble un nested dictionary dans un tableau
import pandas as pd

print(pd.DataFrame(eleves).T)

## 5. Conditions

Les conditions permettent d'automatiser des tâches sous certaines conditions

### For
La boucle "pour"

In [ ]:
#Boucle for
# Pour x dans y...

for i in range(0,10):
    print(i)

In [ ]:
pages = []
for i in range(1,101):
    pages.append(i) # pour sauvegarder les informations

print(len(pages), pages[0], pages[-1])

In [ ]:
#Boucle dans une boucle

jours = ["lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi", "dimanche"]
for jour in jours:
    for lettre in jour:
        print(lettre)

### While
La condition "pendant que"

In [ ]:
# Boucle while
# Pendant que ma condition est valide la boucle tourne

a = 20
while a < 100:
    print(f"{a} is True")
    a += 10
print("Done")

In [ ]:
# Avec break

a = 1
while a < 6:
    print(a)
    if a == 3: #condition
        break
    a += 1

### If
La condition "si": opérateurs, identations, elif, else, court, nested

In [ ]:
# Condition avec les opérateurs logiques

a = 10
b = 20

if a <= b: # >, <, >=, <=, !=
    print('True')

In [ ]:
# Else, permet de prendre tout ce qui n'est pas dans les conditions

a = 10
b = 20

if a == b: # >, <, >=, <=, !=
    print('True')
elif a > b:
    print("True cette fois")
else:
    print('False')

In [ ]:
# Il est possible de faire des conditions et des boucles sur une ligne également

a = 10
b = 20

print('True') if a == b else print('False')

In [ ]:
# And

a = 10
b = 20

if a != b and a < b: 
    print('True')
else:
    print('False')

In [ ]:
# Break, permet de sortir de la boucle

a = 5

for i in range(0,20):
    if i == a:
        break
    print(i)

In [ ]:
# Continue, permet de continuer la boucle

a = 5
ap = []
for i in range(0,20):
    if i == a:
        ap.append(i)
        continue
    print(i)
print(ap)

## 6. Fonctions

### Def
Définir une fonction et l'utiliser

In [ ]:
# définir une fonction

def carre(a):
    return a**2

In [ ]:
carre(a=3)

In [ ]:
# Définir

def equal(a, b):
    if a == b:
        print('True')
    elif a != b:
        print("False")

In [ ]:
equal(a=10, b=10)

### Lambda
Une fonction courte, en une ligne

In [ ]:
# Lambda 

x = lambda a: a**2
y = lambda a, b: a*b

In [ ]:
print(x(4))
print(y(4,5))

## Exercices

Pour la semaine prochaine, jusqu'à "Python Lambda": https://www.w3schools.com/python/default.asp